*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
}

header{
    height: 75vh;
    background-image: url(./content/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .wrapper{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrapper img{
    margin-top: auto;
    height: 90%;
}

header article{
    width: 45%;
    color: #ffffff;
}

header article *{
    margin: 30px;
}

header article .get-it{
    margin: 0;
}

header article .get-it *{
    height: 100px;
}

header article .get-it *:hover{
    cursor: pointer;
}


.features{
    height: 100vh;
    background-color: black;
}


.testimonials{

}

.quote{
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.users, .users img{
    width: 100%;
}

.get-in-touch{
    background-color: #ffffff;
    margin: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.get-in-touch > *{
    margin: 5px;
}


.socials > *{
    height: 70px;
    opacity: 50%;
    filter: grayscale(100%);
}

.socials > *:hover{
    cursor: pointer;
    opacity: 100%;
    filter: none;
}

footer{
    height: 10vh;
    background-color: #e3e3e3;
}